<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/weather.webp">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This website has been created based on Andrew Mead's Node.JS course.</p> <p>User can search for places in order to know its current weather.</p> <p>Data comes from WeatherStack.</p>
            <img class="portrait" src="/img/CV_foto_sin_fondo.png">
        </div>
        {{>footer}}
    </body>
</html>
