<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/weather.webp">
        <script src="./js/main.js"></script>
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h1>{{message}}</h1>
        </div>
        {{>footer}}
    </body>
</html>
